/* generales resets */
*{
    margin: 0;
    padding: 0;
}

/* paleta de colores
azul claro #7291F9 
bordo claro #F25C78
rosa #E66BBA
violetaazul #310062
azul marino #3B3086
crema #FAE0D8
gris blanco #F2F2F2
*/

/* INDEX */
/*CONTENIDO GRAL INDEX */
body {
    font-size: 16px;/* 1rem = 10px */
    font-family:'Acier Bat Noir', sans-serif;
}
 /* TIPOGRAFIAS */
h1{
    font-family: 'Archistico', sans-serif;                                                
    font-size: 5.8rem;  
    font-weight: bolder;
    color: #4e52a0;
}

h2 {
    font-family: acier-bat-gris,sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    font-style: normal;
    color: #E66BBA;
}

h3 {
    font: 'Rift', sans-serif; 
    font-size: 1.4rem;
    font-weight: normal;
    color: #4e52a0;
    }

h1,h2,h3 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Rift', sans-serif; 
    font-size: 1.4rem;
    font-weight: lighter;
    color: #313131
}

/* HEADER */
main{
    margin-top: 255px;
}

/* NAV BAR */
nav {
    width: 100%;
}

/* NAV BAR LOGO */
.logonavid {
    max-width: 60px;
    max-height: 60px;
    background: transparent;
    align-self: flex-end;
}

.menu {
    font-family: 'Rift', sans-serif;
    font-weight:lighter;
    font-size:larger;
    text-align: center;
    color: #3B3086;
    z-index:100;
    background-color: #F2F2F2;
    top: 0;
    position: fixed;
    justify-content: end;
    padding: 20px;
}

li a {
    font-family: 'Rift', sans-serif;
    font-weight:bold;
    font-size:larger;
    text-align: center;
    color: #161616;
    padding: 20px;
    margin: 20px;
}

/* SUBITEMS DE LA NAVBAR */
    ul {
        list-style: none;
        font-size:0 /* truco por el uso de inline-block*/
     }

     li {
        display: inline-block;
        width: 25%;
        position:relative;
        font-size: 14px
     }
     ul ul {
        position: absolute;
        display: none;
     }
     ul ul li {
        display: block;
     }
     ul li:hover ul {
        display:block;
     }
     
/* MAIN */
/* video explicación */
h2 img{
    padding: 25px 50px;
    background: transparent;
    opacity: 0.87;
     }

/* CARDS*/
.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
   max-width: 300px;
    min-height: 250px;
    background: #F2F2F2;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #310062;
    margin:20px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.card:nth-child(2){
   background: #E66BBA;
}
.card:last-child{
   background: #E66BBA;
}
.card-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
}
.card-content{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.cardimage{
    object-fit: cover
}
.card-btn{
    all: unset;
    display: block;
    margin-left: auto;
    border: 2px solid #FFF;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.card-btn:hover{
   color:#673ab7;
   background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
   color:#7291F9 ;
   background: #FFF;
}
.card:last-child .card-btn:hover{
   color:#673ab7;
    background: #FFF;
}

/* FOOTER */
.footer {
    background-color: #527FD9;
    text-align: left;
    padding: 2%;
}

/* FOOTER ICONOS REDES */
footer a i {
    color: #fff;
    font-size: 50px;
    text-align: left;
    justify-content: flex-end;
    padding: 1%;
}

main a i{
    color: #527FD9;
    font-size: 50px;
    text-align: left;
    flex-direction: column;
}

.scroll a{
    color: #7291F9;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ENLACES*/
a {
    text-decoration: none;
}

/* IMAGENES */
img {
    align-content: center;
}

 /* CUADROS CONTENEDORES */
 .maincontainer{
    padding: 10px;
    margin-bottom: 10px;
 }

/* TEXTURAS */
.bluetornpapertexture {
    border-radius: 99px;
    background-image:url(../assets/texturas/bluetornpapertexture.png);
    background-repeat:no-repeat;
}

.pinktornpapertexture {
    border-radius: 99px;
    background-image:url(../assets/texturas/pinktornpapertexture.png);
    background-repeat:no-repeat; 
}

.bluebookspapertexture {
    border-radius: 0;    
    background-image:url(../assets/texturas/bluebookspapertexture.jpg);
    padding: 8%;
}

.formsbackground {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background: #dce5f7;
    padding: 20px;
    margin: 20px;
}

/* VIDEOS */
.containervideo {
    display: flex;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 520px;
    height: 520px;
}

/* BOTONES */
.main-btn {
    background-color: #F25C78;
    color: #fff;
    padding: 1rem 1rem;
    margin-top: 1rem;
    font-family: Rift;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 148px;
    height: 48px;
    border-radius: 4px;
}


.secondary-btn {
    background-color: #F2F2F2;
    color: #F25C78;
    padding: 1 rem 1.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border-radius: 1.5 rem;
    border: #F25C78;
    border-style: solid;
    text-align: center;
    font-family: Rift;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 30px;
    width: 112px;
    height: 48px;
}

.start-btn {
    background-color: #F25C78;
    color: #fff;
    padding: 1 rem 1.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    border-radius: 1.5 rem;
    text-align: center;
    border: none;
    font-family: Rift;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 30px;
    width: 112px;
    height: 48px;
}

.buttonssidebyside{
    display: flex;
    justify-content: center;
    min-height: 0px;
}

       /* CURSORES */
/* NAV HOVERS */
header nav ul li a:hover {
    color: #F25C78;
    text-decoration:underline;
}

/* LOGO MOVIMIENTO */
header nav ul li a img:hover {
    transform: rotate(-180deg);
}

.lg-animation:hover {
    transform: rotate(-180deg)
}
/* FOOTER ICON HOVERS */
footer a i:hover {
    color: #F25C78;

}
/* MAIN ICON HOVERS */
aside a i:hover {
    color: #F25C78;
}

/* iconos */
.socialneticons {
top: 263px;
height: 32px;
left: 1447 px;
width:32px
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index:100;
  }

/* CONTENEDORES */
section{
    margin: 5%;
}

/* contenedores prueba */

div p .bluebookspapertexture {
    width: -moz-fit-content;
    width: fit-content;
    overflow-wrap: normal;
}

/* PARALLAX */
.parallax {
    background-image: url("../assets/texturas/whitepapertexture.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-bottom:50px;
   }
   
.parallaxblog {

    background-image: url("../assets/texturas/mathpapertexture.png");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    margin-bottom:50px;
   }

   /* ALINEACIÓN */
.alignmentcenter{
    text-align:center;
}

.alignhalf {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.alignhalf :first-child {
        align-self: center;
    }
/* TABLA DE RECURSOS STYLE */
.formstyle {
    border: 5px; 
    border-color: #673ab7;
    border-style:solid;
    padding: 10px; 
    align-content: center}

    /* testing registrarse btn */
    .login-box{
        position:relative;
        margin: 10px auto;
        width: 500px;
        height: 380px;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
      -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
      }
      .lb-header{
        position:relative;
        color: #00415d;
        margin: 5px 5px 10px 5px;
        padding-bottom:10px;
        border-bottom: 1px solid #eee;
        text-align:center;
        height:28px;
      }
      .lb-header a{
        margin: 0 25px;
        padding: 0 20px;
        text-decoration: none;
        color: #666;
        font-weight: bold;
        font-size: 15px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
      }
      .lb-header .active{
        color: #029f5b;
        font-size: 18px;
      }
      .social-login{
        position:relative;
        float: left;
        width: 100%;
        height:auto;
        padding: 10px 0 15px 0;
        border-bottom: 1px solid #eee;
      }
      .social-login a{
        position:relative;
        float: left;
        width:calc(40% - 8px);
        text-decoration: none;
        color: #fff;
        border: 1px solid rgba(0,0,0,0.05);
        padding: 12px;
        border-radius: 2px;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0 3%;
        text-align:center;
      }
      .social-login a i{
        position: relative;
        float: left;
        width: 20px;
        top: 2px;
      }
      .social-login a:first-child{
        background-color: #49639F;
      }
      .social-login a:last-child{
        background-color: #DF4A32;
      }
      .email-login,.email-signup{
        position:relative;
        float: left;
        width: 100%;
        height:auto;
        margin-top: 20px;
        text-align:center;
      }
      .u-form-group{
        width:100%;
        margin-bottom: 10px;
      }
      .u-form-group input[type="email"],
      .u-form-group input[type="password"]{
        width: calc(50% - 22px);
        height:45px;
        outline: none;
        border: 1px solid #ddd;
        padding: 0 10px;
        border-radius: 2px;
        color: #333;
        font-size:0.8rem;
        -webkit-transition:all 0.1s linear;
        -moz-transition:all 0.1s linear;
        transition:all 0.1s linear;
      }
      .u-form-group input:focus{
        border-color: #358efb;
      }
      .u-form-group button{
        width:50%;
        background-color: #1CB94E;
        border: none;
        outline: none;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        padding: 14px 0;
        border-radius: 2px;
        text-transform: uppercase;
      }
      .forgot-password{
        width:50%;
        text-align: left;
        text-decoration: underline;
        color: #888;
        font-size: 0.75rem;
      }

      /* fin testing registro */
