<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>contact</title>
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS FIJAS-->   
    <!-- font ppal acier -->        
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
    <!-- font secundaria rift -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
    <!-- font secundaria museoslab -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- FONTS ALTERNATIVAS -->
    <!-- font archistico -->
    <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">
</head>
<body class="parallax">

    <header>
        <!--NAV-BAR-->
        <nav class="menu">
            <ul>
                <li> <a href="../index.html"><img src="../assets/img/logo172x172.png" alt="logoindex"/></a> </li>
                <li><a href="../views/nosotros.html">NOSOTRXS</a></li>
                <li><a href="../views/cursos.html">CURSOS</a></li>
                    <ul>
                        <li>Cursos para Docentes</li> 
    <!-- aca deberia crear una pág? xq si no me abre un directorio --><!--      <li><a href= "./views/cursos/docentes/">Curso para docentes</a><li> -->
                            <ul>
                                <li><a href= "../views/cursos/docentes/nticsbasico.html">NTICS Básico para Docente</a></li>
                                <li><a href= "../views/cursos/docentes/creacionderecursos.html">Creación de Recursos</a></li>
                                <li><a href= "../views/cursos/docentes/organizaciondocente.html">Organización para Docentes</a></li>
                                <li><a href= "../views/cursos/docentes/neuro.html">Investigación y Neuroeducación</a></li>
                            </ul>
                        <li>Cursos de Inglés</li>
                            <ul>
                                <li>ADULTOS</li>
                                    <ul>
                                        <li><a href= "../views/cursos/ingles/cursoingles/adultxs/adultxs1.html">Nivel 1</li>
                                        <li><a href= "../views/cursos/ingles/cursoingles/adultxs/adultxs2.html">Nivel 1</li>
                                    </ul>
                                <li>NIÑXS</li>
                                    <ul>
                                        <li><a href= "../views/cursos/ingles/cursoingles/chicxs/chicxs1.html">Nivel 1</li>
                                        <li><a href= "../views/cursos/ingles/cursoingles/chicxs/chicxs2.html">Nivel 1</li>
                                    </ul>
                            </ul>
                    </ul>
                <li><a href="../views/tienda.html">RECURSOS</a></li>
                    <ul>
                        <li>Calendario</li>
                        <li>Agenda</li>
                        <li>Hoja de Asistencia</li>
                    <li>Planificaciones</li>
                    </ul>
                <li><a href="../views/blog.html">BLOG</a></li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
                <li><input class="start-btn" type="submit" value="Iniciar sesión"></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN -->
<main>
    <h2>Suscríbete para descargar recursos gratuitos</h2>
    <div class="alignhalf">
        <div>
            <p class="whitepapertexture">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, quibusdam maxime? Aspernatur eaque, expedita error architecto, quo perferendis totam repellat sunt sequi nesciunt voluptatem, a voluptas incidunt magni neque omnis.
            </p>
        </div>
        <form class= formsbackground action="enviar.php" method="get" enctype="text/plain">
            <fieldset>
                <legend>Contactanos</legend>
                <div>
                    <label for="nombre" >Nombre <span>*</span></label>
                    <input type="text" autocapitalize="words" placeholder="Ingrese su nombre" id="nombre">
                </div>
                <div>
                    <label for="correo">Correo<span>*</span></label>
                    <input type="email" autocapitalize="words"  placeholder="Ingrese su email" id="correo" required>
                </div>
                <div>
                    <label for="pwd">password<span>*</span></label>
                    <input type="Contraseña" placeholder="Ingrese su contraseña" id="pwd">
                </div>
                <div>
                    <label for="mensaje">Mensaje<span>*</span></label>
                    <textarea name="Mensaje" id="mensaje" cols="30" rows="10"></textarea>
                </div>
                <input class="main-btn" type="submit" value="Enviar">
            </fieldset>
        </form>
    </div>
</main>

<!-- go up section -->
<div class="scroll">
    <a href="#"><i class="fa-solid fa-circle-up"></i></a>
</div>
                                <!--FOOTER-->

<footer class="footer">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus amet minus aperiam minima suscipit veritatis, itaque dignissimos, accusamus, reiciendis nemo corrupti nesciunt. Libero voluptate sed odit quis quae error laborcommodi dignissimos reprehenderit sint ab distinctio cum corrupti quaerat enim velit, nesciunt, voluptatem iure cumque accusantium beatae corporis quia voluptatum alias omnis illum eius voluptate ratione error tenetur. Molestiae.</p>
<a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg"><i class="fa-brands fa-youtube socialneticons"></i></a>
<a href="https://www.instagram.com/missorozcoyamila/"><i class="fa-brands fa-instagram socialneticons"></i></a>
<a href="https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F"><i class="fa-brands fa-linkedin socialneticons"></i></a>
</footer>

</body>
</html>