<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- style bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- mi css -->
        <link rel="stylesheet" href="../css/style.css">
        <title>Workbook</title>
    <!-- iconos -->
        <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
    <!-- FONTS FIJAS-->   
        <!-- font ppal acier -->        
        <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
        <!-- font secundaria rift -->
        <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
        <!-- font secundaria museoslab -->
        <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
    <!-- FONTS ALTERNATIVAS -->
        <!-- font archistico -->
        <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">  
        <title>Registrate</title>
        </head>
    </head>
<body class="parallax">
<header>
    <!--NAV-BAR-->
    <nav class="navbar navbar-expand-lg menu">
        <li> <a href="../index.html"><img class= "lg-animation"src="../assets/img/logo172x172.png" alt="logoindex"/></a> </li>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li><a class="active" aria-current="page" href="../views/nosotros.html">NOSOTRXS</a></li>
                    <li><a href="../views/blog.html">BLOG</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="../views/tienda.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">RECURSOS</a>
                        <ul class="dropdown-menu">
                            <li><a href="https://orozcoyamilagisele.mercadoshops.com.ar/">CALENDARIO</a></li>
                            <li><a href="https://orozcoyamilagisele.mercadoshops.com.ar/">AGENDA</a></li>
                            <li><a href="https://orozcoyamilagisele.mercadoshops.com.ar/">PLANILLAS</a></li>
                            <li><a href="https://orozcoyamilagisele.mercadoshops.com.ar/">PLANIFICACIONES</a></li>
                            <li><a href="https://orozcoyamilagisele.mercadoshops.com.ar/">ACTAS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="../views/cursos.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">CURSOS</a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/cursos.html">CURSOS</a></li>
                            <li><a href="../views/cursos/cursosdocentes.html">DOCENTES</a></li>
                            <li><a href="../views/cursos/cursosingles.html">INGLÉS</a></li>
                        </ul>
                    </li>
                    <div class="action-buttons ml-auto navbar navbar-expand-lg"></div>
                    <a href="../views/login.html" class="btn btn-primary">Inicia/Registrate</a>
                </ul>
            </div>
        </div>	
    </nav>
</header>

<main>
    
  <div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
      <a href="#">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>
      <a href="#">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google
      </a>
    </div>
    <form class="email-login">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>