<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- My Style CCS -->
<link rel="stylesheet" href="../css/style.css">
    <title>aboutus</title>
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS FIJAS-->   
    <!-- font ppal acier -->        
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
    <!-- font secundaria rift -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
    <!-- font secundaria museoslab -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- FONTS ALTERNATIVAS -->
    <!-- font archistico -->
    <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">

<body class="parallax">
    
<header>
                                  <!--NAV-BAR-->
    <nav class="navbar navbar-expand-lg menu">
        <li> <a href="../index.html"><img class= "lg-animation"src="../assets/img/logo172x172.png" alt="logoindex"/></a> </li>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li><a class="active" aria-current="page" href="../views/nosotros.html">NOSOTRXS</a></li>
                    <li><a href="../views/blog.html">BLOG</a></li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                    <li><a href="../views/tienda.html">RECURSOS</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="../views/cursos.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">CURSOS</a>
                        <ul class="dropdown-menu">
                            <li><a href="../views/cursos.html">CURSOS</a></li>
                            <li><a href="../views/cursos/cursosdocentes.html">DOCENTES</a></li>
                            <li><a href="../views/cursos/cursosingles.html">INGLÉS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- MAIN -->
    <main class="maincontainer alignmentcenter">
        <h1>Movimiento Learn</h1>
            <h2>Aprender es crear Posibilidades</p>
            <img src="../assets/gif/movlearnexplanation.gif" alt="video">
                <h3>Empezá a crear las posibilidades de tu vida</h3>

    <div class="buttonssidebyside">
                <input class="start-btn" type="submit" value="Registrate">
                <input class="secondary-btn" type="submit" value="Prueba gratis">
    </div>

    <aside class="socialneticons flexcolumn">
        <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/missorozcoyamila/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F"><i class="fa-brands fa-linkedin"></i></a>
    </aside>
    </main>

    <!-- SECTION -->
<section>
    <img src="../assets/img/aboutus.png" alt="">
</section>

<!-- go up section -->
<div class="scroll">
    <a href="#"><i class="fa-solid fa-circle-up"></i></a>
</div>

<!-- FOOTER -->

<footer class="footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus amet minus aperiam minima suscipit veritatis, itaque dignissimos, accusamus, reiciendis nemo corrupti nesciunt. Libero voluptate sed odit quis quae error commodi dignissimos reprehenderit sint ab distinctio cum corrupti quaerat enim velit, nesciunt, voluptatem iure cumque accusantium beatae corporis quia voluptatum alias omnis illum eius voluptate ratione error tenetur. Molestiae.</p>
    <a href="https://www.youtube.com/channel/UCvJVwHw4owKUyUPkPt68BJg"><i class="fa-brands fa-youtube socialneticons"></i></a>
    <a href="https://www.instagram.com/missorozcoyamila/"><i class="fa-brands fa-instagram socialneticons"></i></a>
    <a href="https://ar.linkedin.com/in/yamila-orozco?original_referer=https%3A%2F%2Fwww.google.com%2F"><i class="fa-brands fa-linkedin socialneticons"></i></a>
</footer>


<!--Scripts finales -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>