.parallax {
	background-image: url("../assets/texturas/whitepapertexture.png");
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
}
.parallaxblog {
	background-image: url("../assets/texturas/mathpapertexture.png");
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 50px;
}